# Welcome to Your Data Science Notebook!

This notebook is set up to use your virtual environment (`venv312`). You can now use numpy and pandas for your data analysis tasks.

In [ ]:
#pip install numpy

In [ ]:
#pip install pandas

In [ ]:
import numpy as np
import pandas as pd
print("Numpy version:", np.__version__)
print("Pandas version:", pd.__version__)

Read data from CSV file into a dataframe

In [ ]:
df = pd.read_csv("sales_data_sample.csv",encoding="latin-1")

print(df)
#print(df.columns)
#print(df.shape)

#Read data from excel file into a dataframe

In [ ]:
df1= pd.read_excel("SampleSuperstore.xlsx")
#print(df1)
df2= pd.read_json("sample_Data.json")
print(df2)

# Data read and save kora.. see save.py

# Shape and column attributes

In [ ]:
import pandas as pd
data = {
    "Name" : ['Ram' , 'Shyam' , 'Ghanshyam' , 'Dhanshyam' , 'Aditi' , ' Jagdish' , 'Raj' , 'Simran'],
    "Age": [28,34,22,30,29,40, 25, 32],
    "Salary": [50000,60000,45000,52000,49000,70000,48000,58000],
    "Performance Score": [85,90,78,92,88,95,80,89]
}

df=pd.DataFrame(data)
print(df)
print(f"Shape: {df.shape}")
print(f"Column Names: {df.columns}")

# Step no 5
#### 1. select specific condtion
#### 2. filter rows
#### 3. combine multiple conditions

In [ ]:
import pandas as pd
data = {
    "Name" : ['Ram' , 'Shyam' , 'Ghanshyam' , 'Dhanshyam' , 'Aditi' , ' Jagdish' , 'Raj' , 'Simran'],
    "Age": [28,34,22,30,29,40, 25, 32],
    "Salary": [50000,60000,45000,52000,49000,70000,48000,58000],
    "Performance Score": [85,90,78,92,88,95,80,89]
}
df= pd.DataFrame(data)
print("Sample DataFrame:")
print(df)
print("Names (Single col return series.)")
name=df['Name']
print(name)

#selecting multiple cols
subset=df[["Name","Salary"]]
print("\nSubset with Name and Salary")
print(subset)

In [ ]:
#rows filtering

import pandas as pd
data = {
    "Name" : ['Ram' , 'Shyam' , 'Ghanshyam' , 'Dhanshyam' , 'Aditi' , ' Jagdish' , 'Raj' , 'Simran'],
    "Age": [28,34,22,30,29,40, 25, 32],
    "Salary": [50000,60000,45000,52000,49000,70000,48000,58000],
    "Performance Score": [85,90,78,92,88,95,80,89]
}
df= pd.DataFrame(data)

#single conditions
high_salary=df[df["Salary"]>50000]
print("Employees with Salary >50000")
print(high_salary)

#multiple conditions
filtered=df[(df["Age"]>30) & (df["Salary"]>50000)]
print("Employee list age>30 + Salary>50000")
print(filtered)


#using or conditions

filtered_or= df[(df["Age"]>35) | (df["Performance Score"]>90)]
print("Employees older than 35 or performance above 90")
print(filtered_or)

# Part 2
#### Step 6
#### adding column

In [ ]:
#adding data
import pandas as pd
data = {
    "Name" : ['Ram' , 'Shyam' , 'Ghanshyam' , 'Dhanshyam' , 'Aditi' , ' Jagdish' , 'Raj' , 'Simran'],
    "Age": [28,34,22,30,29,40, 25, 32],
    "Salary": [50000,60000,45000,52000,49000,70000,48000,58000],
    "Performance Score": [85,90,78,92,88,95,80,89]
}
df= pd.DataFrame(data)

#square brackets  df["Column Name"]=some data
print(df)
df["Bonus"]=df["Salary"] * .1
print("Increment Salary:")
print(df)

# using insert method diye new column add kora, at specific position or index

In [ ]:
import pandas as pd
data = {
    "Name" : ['Ram' , 'Shyam' , 'Ghanshyam' , 'Dhanshyam' , 'Aditi' , ' Jagdish' , 'Raj' , 'Simran'],
    "Age": [28,34,22,30,29,40, 25, 32],
    "Salary": [50000,60000,45000,52000,49000,70000,48000,58000],
    "Performance Score": [85,90,78,92,88,95,80,89]
}
df= pd.DataFrame(data)
print(df)

#df.insert(loc, "Column_Name",[some_data])
df.insert(0, "Employee ID",[10,20,30,40,50,60,70,80])
print(df)

# Updating Values

In [ ]:
#.loc[] pandas er ekta method jeta je kono specific cell e 
# access kora jabe and otake update kora jabe

#df.loc[row_index, "Column_name"]= new_value

import pandas as pd
data = {
    "Name" : ['Ram' , 'Shyam' , 'Ghanshyam' , 'Dhanshyam' , 'Aditi' , ' Jagdish' , 'Raj' , 'Simran'],
    "Age": [28,34,22,30,29,40, 25, 32],
    "Salary": [50000,60000,45000,52000,49000,70000,48000,58000],
    "Performance Score": [85,90,78,92,88,95,80,89]
}
df= pd.DataFrame(data)
print(df)

df.loc[0,"Salary"]=55000
print(df)

# Updating Values using condtion

In [ ]:
import pandas as pd
data = {
    "Name" : ['Ram' , 'Shyam' , 'Ghanshyam' , 'Dhanshyam' , 'Aditi' , ' Jagdish' , 'Raj' , 'Simran'],
    "Age": [28,34,22,30,29,40, 25, 32],
    "Salary": [50000,60000,45000,52000,49000,70000,48000,58000],
    "Performance Score": [85,90,78,92,88,95,80,89]
}
df= pd.DataFrame(data)
print(df)

#increasing salary by 5%
df["Salary"]=df["Salary"]*1.05
print(df)

# Removing Columns

In [ ]:
import pandas as pd
data = {
    "Name" : ['Ram' , 'Shyam' , 'Ghanshyam' , 'Dhanshyam' , 'Aditi' , ' Jagdish' , 'Raj' , 'Simran'],
    "Age": [28,34,22,30,29,40, 25, 32],
    "Salary": [50000,60000,45000,52000,49000,70000,48000,58000],
    "Performance Score": [85,90,78,92,88,95,80,89]
}
df= pd.DataFrame(data)
print(df)

print("\n After removing a column:")
df.drop(columns=["Performance Score"],inplace=True)
print(df)

#multiple column removing
df1= pd.DataFrame(data)
df1.drop(columns=["Performance Score","Age"],inplace=True)
print("\n After multiple deleting columns:")
print(df1)

# Missing data handling

In [ ]:
import pandas as pd
data = {
    "Name" : ['Ram' , None , 'Ghanshyam' , 'Dhanshyam' , 'Aditi' , ' Jagdish' , 'Raj' , 'Simran'],
    "Age": [28,None,22,30,29,40, 25, 32],
    "Salary": [50000,None,45000,52000,49000,70000,48000,58000],
    "Performance Score": [85,None,78,92,88,95,80,89]
}
df= pd.DataFrame(data)
print(df)

print("\n")
print(df.isnull())
print(df.isnull().sum())

## Missing value ke remove kora

In [ ]:
import pandas as pd
data = {
    "Name" : ['Ram' , None , 'Ghanshyam' , 'Dhanshyam' , 'Aditi' , ' Jagdish' , 'Raj' , 'Simran'],
    "Age": [28,None,22,30,29,40, 25, 32],
    "Salary": [50000,None,45000,52000,49000,70000,48000,58000],
    "Performance Score": [85,None,78,92,88,95,80,89]
}
df= pd.DataFrame(data)
print(df)

print("\n")
df.dropna(inplace=True)
print(df)

## Fill method

In [ ]:
import pandas as pd
data = {
    "Name" : ['Ram' , None , 'Ghanshyam' , 'Dhanshyam' , 'Aditi' , ' Jagdish' , 'Raj' , 'Simran'],
    "Age": [28,None,22,30,29,40, 25, 32],
    "Salary": [50000,None,45000,52000,49000,70000,48000,58000],
    "Performance Score": [85,None,78,92,88,95,80,89]
}
df= pd.DataFrame(data)
print(df)

df.fillna(0,inplace=True )
print("\n")
print(df)


df1= pd.DataFrame(data)
df1["Age"].fillna(df1["Age"].mean(),inplace=True)
df1["Salary"].fillna(df1["Salary"].mean(),inplace=True)
df1["Performance Score"].fillna(df1["Performance Score"].mean(),inplace=True)
print("\n")
print("replacing missing value with calculated passes:")
print(df1)

# Interpolation

In [44]:
import pandas as pd
data = {
    "Time":[1,2,3,4,5],
    "Value":[10,None,30,None,50]
}
df=pd.DataFrame(data)
print("Before Interpolation")
print(df)

df["Value"]=df["Value"].interpolate(method="linear")
print("\nAfter interpolation")
print(df)

Before Interpolation
   Time  Value
0     1   10.0
1     2    NaN
2     3   30.0
3     4    NaN
4     5   50.0

After interpolation
   Time  Value
0     1   10.0
1     2   20.0
2     3   30.0
3     4   40.0
4     5   50.0

# Sorting and Aggregation

#### Single col sorting

In [47]:
import pandas as pd

data= {
    "Name":["Arun","Varun","Karun"],
    "Age":[18,34,22],
    "Salary":[10000,20000,30000]
}
df=pd.DataFrame(data)
df.sort_values(by="Age",ascending=False,inplace=True)
print("Sorted Age by Descending")
print(df)

Sorted Age by Descending
    Name  Age  Salary
1  Varun   34   20000
2  Karun   22   30000
0   Arun   18   10000

#### Multiple col sorting

In [48]:
import pandas as pd

data= {
    "Name":["Arun","Varun","Karun"],
    "Age":[18,34,22],
    "Salary":[10000,20000,30000]
}
df=pd.DataFrame(data)
df.sort_values(by=["Age","Salary"],ascending=[True,False],inplace=True)
print("Sorted Age by Descending")
print(df)

Sorted Age by Descending
    Name  Age  Salary
0   Arun   18   10000
2  Karun   22   30000
1  Varun   34   20000